---
layout: base-layout.njk
---

<header>
  <h1>Hi, I’m Nick.</h1>
  <p class="header-text">I am a front-end engineer with a passion for storytelling. I have an excellent eye for design details and a firm commitment to great user experience. Deeply curious about the world around me, I am constantly learning new technologies, all in the service of building beautiful, engaging experiences that can play a meaningful role in people’s lives. I love JavaScript and CSS and have lately been enjoying building things with React and Sass. Get in touch at himmel.nick@gmail.com.</p>
  <a href='https://s3.us-east-2.amazonaws.com/nickhimmel.com/nick_himmel_resume.pdf' target='_blank'>Resume (PDF)</a> /
  <a href='https://github.com/NickHimmel/' target='_blank'>GitHub</a> /
  <a href='https://www.linkedin.com/in/nick-himmel/' target='_blank'>LinkedIn</a>
</header>
<div>
  {% for post in collections.post %}
    <div class="card">
      <a href="{{ post.url | url }}" class="card-link card-container">
        <img src={{ post.data.thumbnail }} class="card-image"/>
      </a>
      <div class="card-text">
        <a href="{{ post.url | url }}" class="card-link">
          {{ post.templateContent | safe }}
        </a>
      </div>
    </div>
  {% endfor %}
</div>
